*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	
	}


.header h2{
	color:black;
	font-family:sans-serif;
	margin:10px;
	}
	
	
.description{
	content='';
	position: absolute;
	top:25%;
	left:1%;
	margin:10px;
	padding:10px;
	transform: translate(1%,1%);
	
	}


	.h3{

		font-family: 'Times New Roman', Times, serif;
	}


	.outreach{
      position: relative;
	  size: contain;
	  height: 50vh;
width:auto;
margin:10px;
		

	}
	

	.handsome{

		position: relative;
		size: cover;
		height: 50vh;
  width:auto;
  


	}
	
